<div class="archive-section">
  <mat-expansion-panel
    [expanded]="archiveExpanded"
    (opened)="archiveExpanded = true"
    (closed)="archiveExpanded = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>{{ 'aria.archive-icon' | translate }}</mat-icon>
        {{ 'archive.title' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'archive.description' | translate }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="tech-list-title">
      {{ 'archive.archived-technologies' | translate }}
    </p>
    <div class="tech-icons-container-archive">
      @for (tech of sortedArchiveTechs(); track tech.name) {
        <div
          class="item non-badged-item"
          (click)="tech.url && navigateTo(tech.url)"
          (keydown.enter)="tech.url && navigateTo(tech.url)"
          (keydown.space)="tech.url && navigateTo(tech.url)"
          [tabindex]="tech.url ? 0 : -1"
          [style.cursor]="tech.url ? 'pointer' : 'default'"
          [matTooltip]="
            tech.url
              ? ('landing.go-to-website' | translate: { name: tech.name })
              : ''
          "
          matTooltipPosition="below"
          role="button"
          [attr.aria-label]="
            tech.url
              ? ('landing.go-to-website' | translate: { name: tech.name })
              : tech.name
          ">
          <div class="tech-item">
            <img
              [src]="'assets/techs/' + tech.icon + '.svg'"
              [alt]="tech.name"
              class="tech-icon" />
            <span class="tech-label">{{ tech.name }}</span>
          </div>
        </div>
      }
    </div>
  </mat-expansion-panel>
</div>
