:host {
  display: flex;
  flex-direction: row;
  justify-content: center;

  ::ng-deep {
    .mat-form-field-wrapper {
      flex: 1;
    }
  }
}

.container {
  padding: 1em;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 1em;

  @media screen and (max-width: 1024px) {
    flex-basis: 90%;
    max-width: 90vw; // prevent overgrowing
  }
}

@media screen and (max-width: 426px) {
  .add-button {
    width: 100%;
  }
}

mat-card {
  margin: 1em 0;

  mat-card-header {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  button {
    margin: 1em;
  }

  mat-form-field {
    display: flex;
    flex: 1;
  }
}

mat-panel-description {
  flex-grow: 1;
}

mat-panel-title {
  flex-grow: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  button {
    margin-left: auto;
  }
}
