<mat-card class="footer" id="end">
  <div class="icons">
    <button
      mat-button
      (click)="navigateTo('https://github.com/Nergy101')"
      matTooltip="Visit my Github"
      matTooltipPosition="left"
    >
      <fa-icon [icon]="faGithub" size="3x"></fa-icon>
    </button>

    <button
      mat-button
      (click)="navigateTo('https://www.linkedin.com/in/christian-van-dijk-657069134/')"
      matTooltip="Visit my LinkedIn"
      matTooltipPosition="right"
    >
      <fa-icon [icon]="faLinkedin" size="3x"></fa-icon>
    </button>
  </div>
</mat-card>
