<mat-toolbar>
  <mat-toolbar-row class="main-row">
    <div class="logo-section">
      <img
        src="/assets/nemic-logos/Logo_Nemic-40.png"
        alt="Logo"
        style="height: 2rem; margin-right: 1rem" />
      <span>{{ 'header.brand' | translate }}</span>
      <app-language-switcher
        class="mobile-language-switcher"
        [showOnlyFlag]="true"></app-language-switcher>
    </div>
    <span class="spacer desktop-only"></span>
    <div class="header-buttons desktop-only">
      <div class="badge-container">
        <a
          href="https://github.com/Nergy101/Portfolio/actions/workflows/pipeline.yml"
          target="_blank"
          rel="noopener">
          <img
            src="https://github.com/Nergy101/Portfolio/actions/workflows/pipeline.yml/badge.svg"
            alt="{{ 'header.deploy-badge-alt' | translate }}" />
        </a>
        <a
          href="https://github.com/Nergy101/Portfolio/actions/workflows/pipeline.yml"
          target="_blank"
          rel="noopener">
          <img
            src="https://github.com/Nergy101/Portfolio/actions/workflows/e2e-nightly.yml/badge.svg"
            alt="{{ 'header.e2e-nightly-badge-alt' | translate }}" />
        </a>
      </div>

      <button mat-flat-button (click)="openKofiDialog()">
        <mat-icon
          matSuffix
          aria-hidden="false"
          [attr.aria-label]="'aria.donate' | translate">
          volunteer_activism
        </mat-icon>
        {{ 'header.buy-me-coffee' | translate }}
        <mat-icon
          aria-hidden="false"
          [attr.aria-label]="'aria.coffee' | translate">
          coffee
        </mat-icon>
      </button>
      <app-language-switcher></app-language-switcher>
    </div>
    <app-menu></app-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="mobile-buttons-row mobile-only">
    <div class="header-buttons mobile-buttons">
      <div class="badge-container">
        <a
          href="https://github.com/Nergy101/Portfolio/actions/workflows/pipeline.yml"
          target="_blank"
          rel="noopener">
          <img
            src="https://github.com/Nergy101/Portfolio/actions/workflows/pipeline.yml/badge.svg"
            alt="{{ 'header.deploy-badge-alt' | translate }}" />
        </a>
      </div>

      <button mat-flat-button (click)="openKofiDialog()">
        <mat-icon
          matSuffix
          aria-hidden="false"
          [attr.aria-label]="'aria.donate' | translate">
          volunteer_activism
        </mat-icon>
        {{ 'header.buy-me-coffee-short' | translate }}
        <mat-icon
          aria-hidden="false"
          [attr.aria-label]="'aria.coffee' | translate">
          coffee
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
