.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 5vh;
  background-color: var(--sys-surface-container-highest);
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
}
