:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.tech-card {
  background-color: var(--sys-surface-container);
  cursor: pointer;
  max-width: 15em;
  min-width: 15em;
  margin-bottom: 8px;
  height: 25em;

  display: flex;
  flex-flow: column nowrap;

  &:hover {
    background-color: var(--sys-surface-container-high);
  }

  .spacer {
    flex-grow: 1;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.title {
  padding: 1rem;
}

.center {
  text-align: center;
}
