<mat-card
  (click)="open()"
  class="tech-card"
  matRipple
  [matRippleCentered]="true"
  [matRippleColor]="rippleColor ?? ''"
  [matTooltip]="tooltip"
  matTooltipPosition="below">
  <mat-card-title class="title center">
    <span>{{ title }}</span>
  </mat-card-title>
  <mat-card-subtitle class="center">{{ subtitle }}</mat-card-subtitle>
  <mat-card-content>
    <img
      class="tech-image"
      mat-card-image
      src="assets/techs/{{ imagePath }}.svg"
      alt="Tech icon" />
    <p align="center">
      {{ description }}
    </p>
  </mat-card-content>
  <div class="spacer"></div>
</mat-card>
