<mat-card (click)="open()" class="tech-card" matRipple [matRippleCentered]="true" [matRippleColor]="rippleColor ?? ''"
  [matTooltip]="tooltip" matTooltipPosition="below">
  <mat-card-title-group>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <img mat-card-image src="assets/techs/{{ imagePath }}.svg" alt="Tech icon" style="height: 200px" />
    <p align="center">
      {{ description }}
    </p>
  </mat-card-content>
  <div class="spacer"></div>
  <mat-divider inset></mat-divider>
</mat-card>