:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .tech-card {
    max-width: 15em;
    min-width: 15em;
    margin-bottom: 8px;
    height: 25em;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
