.container {
  display: flex;
  flex-direction: column;
}

.top-text {
  padding: 0;
}

.pad {
  padding: 0 1rem;
  &.top {
    padding: 1rem 0 0 1rem;
  }
}

.header-buttons {
  padding: 0 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15em);
  column-gap: 1em;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

.weather-cards {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

.tech-cards {
  flex-basis: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;

  .group {
    padding: 0 1em 0 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
  }
}

.section {
  display: flex;
  width: 100vw;
  flex-flow: column wrap;
  justify-content: space-around;
}

.section-title {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.pcnotes {
    a {
      &:visited {
        color: #9415ff;
      }
      &:link {
        color: #9415ff;
      }
      &:hover {
        color: #6e14ef;
      }
    }
  }

  a {
    &:visited {
      color: #6dcb94;
    }
    &:link {
      color: #6dcb94;
    }
    &:hover {
      color: #59b981;
    }
  }
}

.tab-content {
  min-height: 100vh;
}

:host {
  ::ng-deep {
    .mat-tab-body-content {
      overflow-x: hidden;
    }
  }
}
