.container {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
}

.top-text {
  margin: 1em;
  background-color: var(--sys-surface-container);
}

.pad {
  padding: 0 1rem;
  &.top {
    padding: 1rem 0 0 1rem;
    line-height: normal;
  }
}

.header-buttons {
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15em);
  column-gap: 1em;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

.weather-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-cards {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

.tech-cards {
  flex-basis: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;

  .group {
    padding: 0 1em 0 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
  }
}

.section {
  display: flex;
  width: 100vw;
  flex-flow: column wrap;
  justify-content: space-around;
}

.section-title {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    &:visited {
      color: #6dcb94;
    }
    &:link {
      color: #6dcb94;
    }
    &:hover {
      color: #59b981;
    }
  }
}

.retroranker {
  a {
    color: #e48500;
    &:hover {
      color: #e48500;
    }
    &:link {
      color: #e48500;
    }
    &:visited {
      color: #e48500;
    }
  }
}

.tovedem {
  a {
    color: #ae1544;
    &:hover {
      color: #ae1544;
    }
    &:link {
      color: #ae1544;
    }
    &:visited {
      color: #ae1544;
    }
  }
}

.tab-content {
  min-height: 100vh;
}

:host {
  ::ng-deep {
    .mat-tab-body-content {
      overflow-x: hidden;
    }
  }
}

::ng-deep .mat-mdc-dialog-surface {
  overflow-x: hidden;
}

.preview {
  margin-left: auto;
  margin-right: auto;

  width: 50%;
  height: 50em;
  padding-bottom: 1em;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1em;
  }

  @media screen and (max-width: 1024px) {
    width: 80%;
    height: 40em;
  }
}

.split {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
}

.profile-list {
  list-style: none;
}