<div class="section">
  <div class="section-title">
    <h2 style="margin: 0; padding: 0">
      <a [href]="url()" target="_blank">{{ getTranslatedTitle(title()) }}</a>
    </h2>
    <sub>{{ getTranslatedSubtitle(subtitle()) }}</sub>
    <div class="badge-container">
      @for (badge of badges(); track badge.url) {
        <a [href]="badge.url" target="_blank" rel="noopener">
          <img [src]="badge.url" [alt]="getTranslatedAlt(badge.alt)" />
        </a>
      }
    </div>
  </div>
  <div class="preview">
    <iframe
      [src]="safeIframeSrc()"
      [title]="getTranslatedTitle(title())"></iframe>
  </div>
  <div class="tech-cards">
    <div class="group">
      @for (tech of techs(); track tech.title) {
        <app-tech-card
          [title]="getTranslatedTitle(tech.title)"
          [subtitle]="getTranslatedSubtitle(tech.subtitle)"
          [imagePath]="tech.imagePath"
          [url]="tech.url"
          [rippleColor]="tech.rippleColor"></app-tech-card>
      }
    </div>
  </div>
</div>
