:host {
  display: flex;

  mat-card-title-group {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .weather-card {
    background-color: var(--sys-surface-container);
    min-width: 5em;
    min-height: 5em;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;

    font-size: 0.75rem;

    padding: 1rem;

    &:hover {
      background-color: var(--sys-surface-container-high);
    }
  }

  mat-card-title {
    align-self: center;
  }
}
