<mat-card id="top-text" class="top-text">
  <mat-card-title
    class="pad top"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    ">
    <h1>{{ 'profile.greeting' | translate }}</h1>
  </mat-card-title>
  <mat-card-content class="pad">
    <p style="line-height: 1.6; text-align: justify">
      {{ 'profile.intro' | translate }}
    </p>

    <div class="split">
      <div class="left">
        <ul class="profile-list">
          <li>
            🚀
            <strong>{{ 'profile.currently-working-on' | translate }}</strong>
            <a href="https://retroranker.site" target="_blank" rel="noopener">
              RetroRanker
            </a>
          </li>
          <li>
            💾
            <strong>{{ 'profile.github' | translate }}</strong>
            <a
              href="https://github.com/Nergy101"
              target="_blank"
              rel="noopener">
              Nergy101
            </a>
          </li>
          <li>
            📕
            <strong>{{ 'profile.blog' | translate }}</strong>
            <a href="https://blog.nergy.space" target="_blank" rel="noopener">
              blog.nergy.space
            </a>
          </li>
          <li>
            🌐
            <strong>{{ 'profile.service-uptime' | translate }}</strong>
            <a
              href="https://kuma.nergy.space/status/all"
              target="_blank"
              rel="noopener">
              Kuma
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="profile-list">
          <li>
            🌍
            <strong>{{ 'profile.based-in' | translate }}</strong>
            {{ 'profile.location' | translate }}
          </li>
          <li>
            ✉️
            <strong>{{ 'profile.contact' | translate }}</strong>
            <a href="mailto:cdijk4@gmail.com">
              {{ 'profile.email' | translate }}
            </a>
          </li>
          <li>
            🧠
            <strong>{{ 'profile.learning-about' | translate }}</strong>
            {{ 'profile.learning-topics' | translate }}
          </li>
          <li>
            🎂
            <strong>{{ 'profile.been-here-since' | translate }}</strong>
            {{ 'profile.birth-year' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
