<mat-card id="top-text" class="top-text">
  <mat-card-title
    class="pad top"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    ">
    <h1>Well, hello there!</h1>
  </mat-card-title>
  <mat-card-content class="pad">
    <p style="line-height: 1.6; text-align: justify">
      Professionally, I've always been invested in
      <strong>C#</strong>
      and anything
      <strong>.NET</strong>
      related. Every day I work with Azure, DevOps, dotNET, and TypeScript. I
      like fiddling with different architectures like Clean Architecture and
      Micro Services, along with CI/CD tools including Azure Pipelines, Github
      Actions, and Bicep - and the list goes on. As a hobby, I mostly try out
      different frameworks, languages, databases and libraries. Check out
      <a href="https://retroranker.site" target="_blank" rel="noopener">
        RetroRanker
      </a>
      for my latest hobby project.
    </p>

    <div class="split">
      <div class="left">
        <ul class="profile-list">
          <li>
            🚀
            <strong>Currently working on:</strong>
            <a href="https://retroranker.site" target="_blank" rel="noopener">
              RetroRanker
            </a>
          </li>
          <li>
            💾
            <strong>Github:</strong>
            <a
              href="https://github.com/Nergy101"
              target="_blank"
              rel="noopener">
              Nergy101
            </a>
          </li>
          <li>
            📕
            <strong>Blog:</strong>
            <a href="https://blog.nergy.space" target="_blank" rel="noopener">
              blog.nergy.space
            </a>
          </li>
          <li>
            🌐
            <strong>Service Uptime:</strong>
            <a
              href="https://kuma.nergy.space/status/all"
              target="_blank"
              rel="noopener">
              Kuma
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="profile-list">
          <li>
            🌍
            <strong>Based in:</strong>
            Utrecht, NL
          </li>
          <li>
            ✉️
            <strong>Contact:&nbsp;</strong>
            <a href="mailto:cdijk4@gmail.com">cdijk4&#64;gmail.com</a>
          </li>
          <li>
            🧠
            <strong>Learning about:</strong>
            MassTransit and Nx
          </li>
          <li>
            🎂
            <strong>Been here since:</strong>
            1999
          </li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
