:host {
  .options {
    padding: 3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2em;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  p {
    padding-left: 2em;
    color: var(--sys-on-surface);
  }
}